<li class="link_item priority-<%= link.priority %>" id="link-<%= link.id %>">
	<% if !link.url.nil? %><a href="<%= link.url %>"><% end %>
	<%= link.title %>
	<% if !link.url.nil? %></a> <% end %>

	<span class="additional_info">
		(<%= link.domain %>) <span><%= LinksHelper.to_relative_date link.created_at %> ago</span> by <%= link.poster %>
	</span>
	
	<br />

	<a class="option" href="javascript:toggleComments(<%= link.id %>)" style="margin-left: 20px;">
		<%= link.comments.count == 0 ? 'No' : link.comments.count %> comments
	</a>

	<span class="option">|</span>

	<a class="option" href="javascript:addComment(<%= link.id %>)">
		Add comment
	</a>

	<span class="option">|</span>

	<% if !link.done %>
	<span class="option" id="editor<%= link.id %>">
		<% if link.editor %>
		<% if link.editor == session[:user] %>
		<a href="javascript:releaseLink(<%= link.id %>)">
			I don't want it anymore
		</a>
		<% else %>
		Grabbed by <%= link.editor %>
		<% end %>
		<% else %>
		<a href="javascript:grabLink(<%= link.id %>)">For me!</a>
		<% end %> 
	</span>

	<span class="option">|</span>
	<% end %>

	<span class="option" id="done<%= link.id %>">
		<% if link.done %>
		Done! 
		<% else %>
		<a href="javascript:markAsDone(<%= link.id %>)">
			Mark as done
		</a>
		<% end %>
	</span>

	<span class="option">|</span>

	<span class="option" id="priority<%= link.id %>">	
		<a href="javascript:showPriorityOptions(<%= link.id %>)" id="priorityLink<%= link.id %>">
			Priority</a>
		<span id="priorityOptions<%= link.id %>" style="display:none; ">
			<a href="javascript:setPriority(<%= link.id %>, 2)">
				High
			</a> ·
			<a href="javascript:setPriority(<%= link.id %>, 1)">
				Medium
			</a> ·
			<a href="javascript:setPriority(<%= link.id %>, 0)">
				Low
			</a>
		</span>
	</span>


	<span class="option">|</span>

	<span class="option" id="remove<%= link.id %>">
		<a href="javascript:remove(<%= link.id %>)" class="subtle">Remove</a>
	</span>

	<br />

	<div class="comments" id="comments<%= link.id %>">
		<%= render partial: 'comment', collection: link.comments %>
	</div>

	<%= render partial: 'comment_box', locals: { link: link } %>
</li>
