<div class="row-fluid">
	<div class="span7 offset1 link_list">
		<h2>Link list</h2>

		<%= 'No links here...' if @empty %>
		

		<% @link_groups.each do |group| %>
			<h3><%= group[0] %></h3>
			
			<ul>
				<%= render partial: 'link', collection: group[1] %>
			</ul>
		<% end %>

	</div>

	<div class="link_create span4" />
		<div>
			<h2>Create new link</h2>
			<%= form_for :link, url: link_create_path do |f| %>
				<p> 
					<%= f.label :url %><br>
					<%= f.text_field :url %>
				</p>
				<p>
					<%= f.submit %>
				</p>
			<% end %>
		</div>

		<div>
			<h2>Create new task</h2>
			<%= form_for :link, url: link_nourl_create_path do |f| %>
				<p> 
					<%= f.label :title %><br>
					<%= f.text_field :title %>
				</p>
				<p>
					<%= f.submit %>
				</p>
			<% end %>
	</div>
</div>