<div class="row-fluid">
	<div class="span7 offset1 link_list">
		<h2>Link list</h2>

		<%= 'No links here...' if @empty %>
		

		<% @link_groups.each do |group| %>
			<h3><%= group[0] %></h3>
			
			<ul>
				<%= render partial: 'link', collection: group[1] %>
			</ul>
		<% end %>

	</div>

	<div class="link_create span4" />
	  <ul class="nav nav-tabs" id="myTab">
	    <li class="active"><a href="#link" data-toggle="tab"><i class="icon-external-link-sign"></i>  New link</a></li>
	    <li><a href="#task" data-toggle="tab"><i class="icon-bookmark"></i> New task</a></li>
	  </ul>
	  
	  <div class="tab-content">
	    <div class="tab-pane active" id="link">			
	      <h2>Create new link</h2>
		<%= form_for :link, url: link_create_path do |f| %>
			<p> 
				<%= f.label :url %><br>
				<%= f.text_field :url %>
			</p>
			<p>
				<%= f.submit 'Add link', :class => 'btn btn-primary' %>
			</p>
			<p>You can also use our bookmarklet. Drag this to your bookmarks bar: <a href="javascript:(function(){var%20xhr%20=%20new%20XMLHttpRequest();%0Avar%20loc%20=%20encodeURIComponent(location.href);%0Axhr.open(%22GET%22,%22http://gblinks.herokuapp.com/links/create?user=macram&amp;url=%22%20+%20loc,true);%0Axhr.onreadystatechange=function()%7Bif(this.readyState==4)%7Bwindow.alert(%22added!%22);%7D%7D;%0Axhr.send();%0A}());" class="btn">+ GBLink</a>
		<% end %></div>
	    <div class="tab-pane" id="task">			
	      <h2>Create new task</h2>
		<%= form_for :task, url: link_nourl_create_path do |f| %>
			<p> 
				<%= f.label :title %><br>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.submit 'Add task', :class => 'btn btn-primary' %>
			</p>
		<% end %>
	    </div>
	  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    