<!DOCTYPE html>
<html>
<head>
  <title>Linkstore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">  <%= csrf_meta_tags %>
</head>
<body>


	<div class="navbar">
		<div class="navbar-inner navbar-fixed-top" style="border-radius: 0px;">
			<a class="brand" href="/">Linkstore</a>
			<ul class="nav">
				<li><a class="pull-right" href="/bookmarklet">Bookmarklet</a></li>
				<li><a class="pull-right" href="<%= user_set_path()%>" >My name: <%= session[:user] %></a></li>
				<li><a class="pull-right" href="/links/rss"><i class="icon-rss-sign"></i> (pending)</a></li>
			</ul>
			
		</div>
	</div>

	<div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px;">
		<% if flash[:error] %>
			<div class="row-fluid">
				<div class="span8 offset2 alert alert-error"><%= flash[:error] %></div>
			</div>
		<% elsif flash[:message] %>
			<div class="row-fluid">
				<div class="span8 offset2 alert alert-success"><%= flash[:message] %></div>
			</div>
		<% end %>
		<div class="row-fluid">

			<%= yield %>

		</div>

	</div>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>
